MEDICAL_EXAM_DB_URL=jdbc:mysql://localhost:3306/doctor_platform?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
MEDICAL_EXAM_DB_USERNAME=root
MEDICAL_EXAM_DB_PASSWORD=change-me
AI_PROVIDER=simulated
ANT_LING_API_KEY=
ANT_LING_BASE_URL=https://api.ant-ling.com/v1/
ANT_LING_MODEL=Ling-2.6-flash
ANT_LING_TIMEOUT_SECONDS=30
